<link rel="stylesheet" type="text/css" href="/Front/css/home.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><span style="color: #2a638b;">Best</span><span style="color: #d43d38;">Date</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" onclick="navigate('home')">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="navigate('list')">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="navigate('connect')">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="">
        <h2 id="headerCalendar"></h2>
        <button id="openModal" type="button" class="btn btn-primary" onclick="homeController.openModal()">
            New Task
        </button>
        <button type="button" class="btn btn-default" aria-label="Left Align" id="prev" onclick="">
            <i class="bi bi-caret-left-fill"></i>
        </button>
        <p style="display: none;" id="month"></p>
        <p style="display: none;" id="year"></p>
        <p style="display: none;" id="date"></p>
        <button type="button" class="btn btn-default" aria-label="Left Align" id="next" onclick="">
            <i class="bi bi-caret-right-fill"></i>
        </button>
        <select class="form-select" style="max-width: 20%;width:auto" onchange="homeController.setDisplay()" id="display">
            <option value="M" selected>Month</option>
            <option value="W">Week</option>
            <option value="D">Day</option>
        </select>
    </div>
    <div class="calendar" id="calendar" style="max-width: 100%; overflow:auto;"></div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Your Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Name</label>
              <input type="text" class="form-control" id="name-tache">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Start</label>
              <input type="date" class="form-control" id="date-debut"></input>
              <input type="time" min="08:00:00" max="18:00:00" value="08:00" class="form-control" id="heure-debut"></input>
            </div>
            <div class="mb-3">
                <label for="message-text" class="col-form-label">End</label>
                <input type="date" class="form-control" id="date-fin"></input>
                <input type="time" min="08:00:00" max="18:00:00" value="18:00" class="form-control" id="heure-fin"></input>
              </div>
            <div class="mb-3" id="ad">
                <label for="message-text" class="col-form-label">Advencement in %</label>
                <input type="range" value="0" class="form-range" min="0" max="100"id="avancement-tache" oninput="this.nextElementSibling.value = this.value" readonly></input>
                <output id="output_adv">0</output>
            </div>
            <div class="mb-3 form-check" style="display:none">
                <label for="message-text" class="col-form-label">Repeat</label>
                <input type="checkbox" class="form-check-input" id="repaet-daily" ></input>
            </div>
            <div class="mb-3 form-check" style="display:none">
                <label class="form-check-label" for="repaet-daily">Daily</label>
                <input type="checkbox" class="form-check-input" id="repeat-weekly"></input>
            </div>
            <div class="mb-3 form-check" style="display:none">
                <label class="form-check-label" for="repeat-weekly">Weekly</label>
                <input type="checkbox" class="form-check-input" id="repaet-monthly"></input>
                <label class="form-check-label" for="repaet-monthly">Monthly</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

<div class="position-fixed bottom-0 end-50" style="z-index: 1056">
    <div id="success" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Task created
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-50" style="z-index: 1056">
    <div id="error" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body" id="toast-body">
            Missing information(s)
        </div>
    </div>
</div>

